html {
  scroll-behavior: smooth;
}
#outerCanvas{
  width: 70%; 
  height: 400px; 
  background-color: rgba(41, 42, 39, 0); 
  display: flex; 
  justify-content: center;
}
#orientation{font-size:25px;font-weight:lighter;font-family:Josefin Sans,sans-serif;color:#fff;text-align:center;padding-right:1em;padding-left:1em;padding-top:0rem;padding-bottom:2rem;margin-top:5px;margin-bottom:0}
#y{font-size:25px;font-weight:lighter;font-family:Josefin Sans,sans-serif;color:#fff;text-align:center;padding-right:1em;padding-left:1em;padding-top:0rem;margin-top:5px;margin-bottom:5px}
#p{font-size:25px;font-weight:lighter;font-family:Josefin Sans,sans-serif;color:#fff;text-align:center;padding-right:1em;padding-left:1em;padding-top:0rem;margin-bottom:5px}
#r{font-size:25px;font-weight:lighter;font-family:Josefin Sans,sans-serif;color:#fff;text-align:center;padding-right:1em;padding-left:1em;padding-top:0rem;padding-bottom:2rem;margin-bottom:5px}

.box{
  border-style: solid;
  border-radius: 1.5;
  border-color: #ffffff;
}
.guibox{
    padding-top: 30px;
    margin-bottom: 20px; 
    width:100%; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 255, 0);
}  
.guibox2{
    flex-direction: column;
    width: 40%;
    overflow-x: visible; 
    height:100%;
    background-color: rgba(240, 255, 255, 0);
    margin-left: 20px; 
    margin-right: 15px;
  }
                                                         
.zoomingtext{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  animation: fadeIn 0s forwards, zoomInOut 2s ease-in-out 0s infinite; 
}
.timeline {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}

.event {
  text-decoration: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.705); 
  border-style: solid;
  border-radius: 1.5px;
  border-color: #fff;
  padding: 20px;
  margin: 20px;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  transition: transform 0.2s ease;
}

.event h2 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.3em;
}

.event h3{
  font-size: 0.9em;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  margin-top: 0px;

}
.event p {
  font-size: 1em;
  color: #fff;
}

.event:hover {
  transform: scale(1.05);
}

.posts3 {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

//image peloader testing.....

.fixed-background1 {
  background-image: url("images/Earth.webp"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: opacity 2s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Adjust the opacity and color as needed */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s; /* Add transition property for smooth effect */
}

/* Add a loading spinner or message if desired */
.loading-message {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
}
 /* Reduce opacity when loaded */
 .loaded .overlay {
    opacity: 0;
}

.loaded .fixed-background {
    opacity: 1;
}


//-----------------------------------Menu--------------------------------
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5; 

  opacity: 0.2;
  transition: opacity 0.5s,
}

.bar {
  background-color: #ffffff;
  height: 5px;
  width: 100%;
  margin: 8px auto;
  transition: 0.4s;
 
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -4px);
}

#menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 0.5s;
  z-index: 5; 
  visibility: hidden;

}

.menu-item {
  width: 350px;
  height: 80px;
  background-color:rgba(0, 0, 0, 0.897);
  border: 2px;
  border-style: solid;
  color: #fff;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  
  text-decoration: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  
  justify-content: center;
  margin: 25px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 5; 
   //animation: textGlitch 2s ease-in-out infinite alternate;
  cursor: pointer;
  transition: transform 0.3s; 
  
}

.menu-item.active {
  opacity: 1;
  transform: translateY(0);
}
.menu-item:hover {
  transform: scale(1.1); 
}
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.952);
  z-index: 4;  
  visibility: hidden;

  opacity: 0;
  transition: opacity 0.8s ease-in-out, visibility 0.9s ease;
}
//--------------------------------------------------------------------------------------
                                //Animated Text
                                
// Increase animation delay. The higher the number is, the slower the animation is

$speed: 20;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.animated-title { 
    color: white;
    font-size: 60px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    animation: textGlitch 3s ease-in-out infinite alternate;
    padding-bottom: 50px;
    padding-top: 0rem;
    box-sizing: border-box;

   
}
  
  .animated-title {
    span {
      display: inline-block;
      min-width: 1rem;
    }
    
    .animate {
      @for $i from 1 through 100 {
        &:nth-child(3n+#{$i}){
          span {
            opacity: 0;
            transform: translateY(2px);
            animation: displayLetter .5s ease-in-out .5s forwards alternate;
            letter-spacing: 1px;
  
            @for $i from 1 through 100 {
              &:nth-child(3n+#{$i}){
                animation-delay: (random($speed) / 10) * 1s
              }
            }
          }
        }
      }
    }
  }
  
  .animated-word {
    opacity: 0;
  }
  
  @keyframes displayLetter {
      0% {
      transform: translateY(2px);
      color: white;
      opacity: 0;
      }
    10% {
      opacity: 1;
      color: limegreen;
    }
    20% {
      opacity: 0;
      color: white;
      transform: translateY(0px);
    }
    50% {
      opacity: 1;
      color: darkgreen;
      transform: translateY(1px);
    }
    60% {
      opacity: 1;
      color: white;
      transform: translateY(1px);
    }
      100% {
      transform: translateY(0);
      color: white;
      opacity: 1;
      }
  }
  
  @keyframes textGlitch {
    0% {
      opacity: 1;
    }
    94% {
      opacity: 1;
      transform: translateX(0px);
    }
      95% {
      opacity: 0.1;
    }
    96% {
      opacity: 1;
      transform: translateX(1px);
    }
    97% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .button-replay {
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 2px white;
    outline: none;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: black;
    color: white;
  }

  .animated-paragraph {
    color: white;
    font-size: 2em; /* Adjust font size as needed */
    //font-family: 'Share Tech Mono', monospace;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 0rem; /* Add space after each line */
    opacity: 0; /* Start with opacity 0 to fade in later */
    
    transition: opacity 0.5s; /* Add transition for opacity */

}

.animated_subheading { 
  color: white;
  font-size: 90px;
  margin: 0;
  background-color: rgba(0, 255, 255, 0);
  width: 80%;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  //font-family: 'Josefin Sans', sans-serif;

  text-decoration: none;
  font-weight: bold;
  animation: textGlitch 3s ease-in-out infinite alternate;

  padding-bottom: 0ch;
  padding-top: 0rem;

  margin-top: 0px;
  margin-bottom: 10px;
  //overflow: visible;

 
}

.animated_subheading2 { 
  color: white;
  font-size: 70px;
  margin: 0;
  background-color: rgba(0, 255, 255, 0);
  width: 80%;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  //font-family: 'Josefin Sans', sans-serif;

  text-decoration: none;
  font-weight: bold;
  animation: textGlitch 3s ease-in-out infinite alternate;

  padding-bottom: 0ch;
  padding-top: 0rem;

  margin-top: 0px;
  margin-bottom: 10px;
  //overflow: visible;
}

.animated_subheading2 {
  span {
    display: inline-block;
    min-width: 1rem;
  }
}


.animated_subheading {
  span {
    display: inline-block;
    min-width: 1rem;
  }
}

.sub3{
  font-size: 60px; 
  margin-top: 40px;
}
.sub4{
  font-size: 40px; 
  margin-top: 30px;
}


.construction{
  font-size: 60px;
  margin-top: 20px;
}

.full-viewport-container {

  top: 0;
  left: 0;
  width: 100%; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

.intro-glitch{
  animation: textGlitch 7s ease-in-out infinite alternate;
  animation-delay: 6s; /* Add a 2-second delay */
}

                                   //scroll Button
.scroll-button {
  position: absolute;
  bottom:2em;
  
  //transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: url('images/scroll_button1.webp') no-repeat center;
  background-size: contain;
  cursor: pointer;
  animation: fadeIn 9s forwards, zoomInOut 2s ease-in-out 7s infinite; 
  opacity: 0;


}

@keyframes fadeIn {
  0% {opacity: 0;}
  83.33% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes zoomInOut {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
  
}

                                                //container

.container {
  
  width: (80%);
  background-color: rgba(0, 0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  flex-direction: column; 
}

.inner-container {
  width: 95%;
  background-color: rgba(255, 255, 255, 0); // Change this to the color you want
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between; // to place the two inner containers side by side
  align-items: center;
  margin: 0;
  padding: 0;

}

.second-inner-container {
width: 70%;
background-color: rgba(49, 249, 49, 0); // Change this to the color you want
margin: 0;
padding-bottom: 3em;
display: flex; // Added this
justify-content: center; // Added this
align-items: center; // Added this
} 
.second-inner-container img {
  width: 100%;
  height: auto;
  transition: transform .5s ease-in-out; // Increased duration and added easing
}
.second-inner-container img:hover {
  transform: scale(1.1); // Zoom in by 10%
}

.split-container{

  width: calc(100% - 5em);
  background-color: rgba(20, 19, 19, 0); // Change this to the color you want
  display: flex;
  justify-content: center;
  flex-direction: row;
 // justify-content: space-between; // to place the two inner containers side by side
  align-items: center;
  margin: 0;
  padding: 0;
  @media only screen and (max-width: 600px) {
    width: calc(100% - 1rem);
  }

}

.row-container{

 width: calc(100% - 5em);
  background-color: rgba(161, 222, 7, 0); 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em; 
  font-family: 'Share Tech Mono', monospace; 
  color: rgb(255, 255, 255);
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;

}

.my_work_cont {
  
  width: (80%);
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  flex-direction: column; 
}
.text-box {
  margin-top: 1rem;
  border: 3px solid rgb(255, 255, 255);
  position: absolute;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5; /* Make the logo initially invisible */
  transition: opacity 0.5s; /* Transition effect for smooth visibility change */

}

.logo {
  font-size: 25px; // Adjust size as needed
  text-decoration: none;
  font-weight: normal; // Makes the text bold
 
   //font-family: 'Share Tech Mono', monospace; 
   font-family: 'Josefin Sans', sans-serif;
   color: white; // Makes the text color white
   text-align: center; // Centers the text
}
.posts {
  font-size: 1.5em; // Adjust size as needed
  font-weight: lighter; // Makes the text bold
  //font-family: 'Share Tech Mono', monospace; 
  font-family: 'Josefin Sans', sans-serif;
  color: white; // Makes the text color white
  text-align: center; // Centers the text
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0rem;
  padding-bottom: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
 
}

.posts a {
  font-size: inherit; /* This makes the font size the same as its parent element */
padding-left: 0;
padding-right: 0;
}

.posts2 {
  font-size: 32px; // Adjust size as needed
  //font-weight: lighter; // Makes the text bold
  //font-family: 'Share Tech Mono', monospace; 
  font-family: 'Josefin Sans', sans-serif;
  color: white; // Makes the text color white
  text-align: center; // Centers the text
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0rem;
  padding-bottom: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
  
  
  font-weight: normal
}


.full-story{
 font-size: 20px; // Adjust size as needed
 text-decoration: none;
 font-weight: normal; // Makes the text bold

  //font-family: 'Share Tech Mono', monospace; 
  font-family: 'Josefin Sans', sans-serif;
  color: white; // Makes the text color white
  text-align: center; // Centers the text
  
  border: 3px solid #fff;

  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom:15px;
  margin-top: 0px;
  margin-bottom: 30px;
  transition: transform 0.2s;

 
}
.full-story:hover {
  transform: scale(1.1); 
}

.contact-me{
  font-size: 25px; // Adjust size as needed
  text-decoration: none;
  font-weight: bolder; // Makes the text bold
 
   //font-family: 'Share Tech Mono', monospace; 
   font-family: 'Josefin Sans', sans-serif;
   color: white; // Makes the text color white
   text-align: center; // Centers the text
   
   border: 3px solid #fff;
 
   padding-right: 40px;
   padding-left: 40px;
   padding-top: 15px;
   padding-bottom:15px;
   margin-top: 0px;
   //margin-bottom: 30px;
   transition: transform 0.2s;
} 
.contact-me:hover {
  transform: scale(1.1); 
}

.big-button {
 
  font-size: 2em; // large text
  font-family: 'Share Tech Mono', monospace;
  margin-top: 0px;
  margin-bottom: 3.5em;
  padding: 20px 40px; // large padding
  
  background-color: rgba(11, 118, 185, 0); 
 
  color: rgb(255, 255, 255); // white text
 
  border-radius: 2px; 
  border:#ffffff;
  border: 5px;
  border-radius: 4px;
  border-style: solid;
  animation: fadeIn 0s forwards, zoomInOut 2s ease-in-out 0s infinite; 
  opacity: 0;
  cursor: pointer; 
}
.footer{
  height: 40px; 
  width: 100%;
  display: flex; 
  border: 2px;
  border-style: solid;
 
  border-color: #fff;
  flex-direction: row; 
  background-color:rgba(0, 0, 0, 0.507);
  
}
.myfooter{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
}

.myfooter_{
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;

  color: #fff;
}
.footerspace{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: #fff;

  margin-left: 20px;
  margin-right: 20px;
}
.contact{
  width: 100%; 
  min-height:92vh; 
  display:  flex; 
  flex-direction:column; 
  align-items: center; 
  justify-content: center;
}

.contact-posts{
  font-size: 32px;
  margin-top: 30px; 
  margin-bottom: 0px;

}
.contact-text{
  margin-left: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: #fff;
  background-color: rgba(240, 255, 255, 0);
  display: flex;
  align-items: center;
}

.contact-icon{
  

  display: flex;
  flex-direction: row;
 
  height: 80px;
 
}
.contact3{
  font-size: 20px;
}
.transmission{
    font-size: 15px;
}

.contact-icon img {
  height: 100%;
  width: auto;
  //align-items: center;
  transition: transform .5s ease-in-out; // Increased duration and added easing
}
.contact-icon img:hover {
  transform: scale(1.1); // Zoom in by 10%
}

.under-work{
  min-height:92vh;

  width: 100wh; 
  display: flex; 
  flex-direction:column; 
  align-items: center; 
  justify-content: center;
}


@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

#countdown {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
  color: rgb(255, 255, 255);
}

#headingText{
  font-size: 80px;
}

@keyframes jitter {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 5px);
  }
  50% {
    transform: translate(5px, -10px);
  }
  75% {
    transform: translate(-20px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.jitter-animation {
  animation: jitter 0.5s;
}



#image-container img {
  width: 100%;
  height: auto;
  transition: transform .5s ease-in-out; // Increased duration and added easing
}
#image-container img:hover {
  transform: scale(1.1); // Zoom in by 10%
}

#apcp-r 
{
  width: 45%; 
  margin-right: 16px;
  margin-bottom: 20px; 
  display: flex; 
  justify-content: center; 
  flex-direction: column;}
#apcp-l{
  width: 45%; 
  margin-left: 16px;
  margin-bottom: 20px; 
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}
#apcp{
  margin-top: 1em;
  margin-bottom: 4em;
}
iframe {
  width: 100%;
  height: 100%; /* Set the height of the iframe */
  border: none;
}

.apcp{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 52px;
}




                                      //Different screen sizes////

#gui-mobile{
  display: none;
}
#publications-mobile{
  display: none;
}
#other-mobile{
  display: none;
}
#test-mobile{
  display: none;
}
@media (max-width: 1400px) {

    .animated-title {
        font-size: 70px; 
    }

    .apcp{
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 42px;
    }
    
    .animated-paragraph {
          font-size: 30px; /* Adjust font size as needed */
         
      }

    

    .scroll-button{
        height: 80px;
        width: 120px;
      }

    .big-button{
        font-size: 1.5em;
        margin-bottom: 5em;
        color: rgb(255, 255, 255); // white text
 
        //border-radius: 2px; 
        border:#ffffff;
        border: 3px;
        border-radius: 4px;
        border-style: solid;
      }
    

    .animated_subheading{
          font-size: 80px;
        }

      
    .animated_subheading2{
            font-size: 60px;
          }
    #headingText{
            font-size: 70px;
          }
    .construction{
      font-size: 50px;
      margin-top: 20px;
    }
       
        
        
}

@media (max-width: 767px) {
  .fixed-background1 {
    background-image: url("images/Earth_m.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: opacity 2s;
  }

#test{
  display: none;
}
#test-mobile{
  display: block;
}
#gui{
  display: none;
}
#gui-mobile{
  display: block;
}
#other{
  display: none;
}
#other-mobile{
  display: block;
}
#timeline{
    display: none;
  }
  
  #outerCanvas{
    width: 70%; 
    height: 300px;
  }
  
  .zoomingtext{
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 3px;
    animation: fadeIn 0s forwards, zoomInOut 2s ease-in-out 0s infinite; 
  }

 
    .animated-title {
        font-size: 40px; 
     }
  
    .animated-paragraph {
        font-size: 20px; /* Adjust font size as needed */  
    }

    .scroll-button{
      height:80px;
      width: 120px;
    }
    .text-box{
      margin-top: 40px;
      border: 2px solid rgb(255, 255, 255);
      position: absolute;
      width: 150px;
      height: 40px;
    }
    .logo {
      font-size: 20px; // Adjust size as needed
      text-decoration: none;
      font-weight: normal; // Makes the text bold
     
       //font-family: 'Share Tech Mono', monospace; 
       font-family: 'Josefin Sans', sans-serif;
       color: white; // Makes the text color white
       text-align: center; // Centers the text
    }
    .container{
      width: 98%;
    }

    .inner-container {
      width: 100%;
    }

    .second-inner-container {
      width: 90%;
      margin-bottom: 0px;
      padding-bottom: 12px;
      margin-top: 10px;
    }
   
    .date{
      font-size: 1em;
      font-weight: lighter;
      padding-top: 1rem;
      padding-bottom: 0em;
    }

    .animated_subheading{
      font-size: 35px;
      padding-bottom: 0rem;
      padding-top: 1rem;
      
    }

    .animated_subheading2{
      font-size: 30px;
      padding-bottom: 0rem;
      padding-top: 1rem;
    }

    .posts{
      font-size: 18px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .full-story{
      font-size: 15px; // Adjust size as needed
      text-decoration: none;
      font-weight: lighter; // Makes the text bold
     
       
       border: 3px solid #fff;
     
       padding-right: 22px;
       padding-left: 22px;
       padding-top: 10px;
       padding-bottom:10px;
       margin-top: 3px;
       margin-bottom: 20px;
     
    }

    #publications{
      display: none;
    }

    #publications-mobile{
      display: block;
    }
    
    .posts2{
      font-size: 15px;
      font-weight: light;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 10px;
    }

    #apcp-r{
      margin-right: 10px;
      margin-left: 20px;
      width: 50%;
      margin-bottom: 0px;
    }
    #apcp-l{
      margin-right: 20px;
      margin-left: 10px;
      width: 50%;
      margin-bottom: 0px;
    }

    .sub3{
      font-size: 22px; 
      margin-top: 10px;
    }

    .menu-item {
      width: 200px;
      height: 50px;
      background-color:rgba(11, 118, 185, 0);
      border: 2px;
      border-style: solid;
      color: #fff;
      margin: 10px;
      font-size: 25px;
    }


  
    .footer{
      height: 30px; 
    }

    .myfooter{
      font-size: 15px;
    }

    .myfooter_{
      font-size: 8px;
    }

    .footerspace{
      font-size: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #headingText{
      font-size: 50px;
    }

    .contact-posts{
      font-size: 20px;
      margin-top: 10px; 
      margin-bottom: 20px;
    
    }
    .contact-icon{
      height: 30px; 
    }
    .contact-text{
      margin-left: 10px;
      font-size: 15px;
    
    }
    .contact3{
      font-size: 15px;
    }

    .transmission{
      font-size: 8px;
      margin-bottom: 20px;
    }
    .construction{
      font-size: 30px;
      margin-top: 20px;
    }
  
   .apcp-space{
    margin-top: 1em;
    margin-bottom: 0.5em;
   }

   .apcp{
     margin-top: 1em;
     margin-bottom: 1em;
     font-size: 30px;
   }
    
  iframe {
    width: 100%;
    height: 100%; /* Set the height of the iframe */
    border: none;
  }

  .event {
    text-decoration: none;
    width: 300px;
    background-color: rgb(11, 118, 185);
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;
    transition: transform 0.2s ease;
  }
  
  .event h2 {
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  
  .event p {
    font-size: 10px;
    color: #fff;
  }
  
  .event:hover {
    transform: scale(1.05);
  }
  
  .posts3 {
    font-size: 20px;

  }

  .menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5; 
  
    opacity: 0.2;
    transition: opacity 0.5s,
  }
  
  .bar {
    background-color: #ffffff;
    height: 3px;
    width: 100%;
    margin: 8px auto;
    transition: 0.4s;
   
  }
  

  

  .menu-item {
    width: 160px;
    height: 45px;
    font-size: 20px;
 
    margin: 10px;
 
  }

  .loading-message {

    font-size: 30px;
  
}
}
